.menu{
    width: 30vw;
    height: 100vh;
    background-color: rgb(121, 190, 213);
    color: white;
    position: fixed;
    top: 0;
    right: -30vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 2s ease;

    &.active{
        right: 0;
    }

    ul{
        padding: 0;
        list-style: none;
        font-size: 30px;
        color: white;
        font-weight: 200;
        width: 60%;

        li{
            margin-bottom: 25px;
            a{
                font-size: inherit;
                color: inherit;
                text-decoration: none;
                
            }
            &:hover{
                font-weight: 700;
            }
        }
    }
}