@import "../../global.scss";


.about{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


    .imagecont{
            width: 70vw;
            height: 60vh;
            display: flex;
            justify-content: center;
            @include mobile {
                margin-top: 5%;
                width: 70vw;
                height: 30vh;

            }
    }

    .message{

        display: flex;
        margin-left: 25%;
        justify-content: center;
        align-items: center;
        font-weight: 200;
        font-size: 20px;
        color: black;
        margin-right: 25%;

        @include mobile {
            font-size: 12px;
            
        }
    }





}