.about{
    background-color: lightgray;
    display: flex;
    align-items: center;


    .imagecont{
            width: 70vw;
            height: 50vh;
            display: flex;
            justify-content: center;
        
    }

    .message{
        display: flex;
        justify-content: center;
        font-size: 200;
        color: black;

    }





}