@import "../../global.scss";

.gallery{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .arrow{
        height: 70px;
        position: absolute;
        font-size: 60px;
        font-weight: 300;
        color: black;

        &.left{
            left: 100px;
            transform: rotateY(180);
            cursor: pointer;
            @include mobile {
                margin-top: 100%;
            }


        }

        &.right{
            right: 100px;
            cursor: pointer;
            @include mobile {
                margin-top: 100%;
            }
            
        }

    }


    .slider{
        height: 600px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;
        @include mobile {
            height: 300px;
            top: 50px;
            margin-top: 10%;
        }
        .container{
        
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item{
                width: 750px;
                @include mobile {
                    width: 350px;
                }

                height: 100%;
                background-color: lightblue;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                .right{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &::-webkit-scrollbar{
                        display: none;
                    }

                    img{
                        width: 600px;
                        border-radius: 10px;
                        overflow: hidden;
                    }
                
                }
            }
        }
    }

}
