.intro{
    background-color: grey;
    display: flex;
    .left{
        flex: 0.5;
            .imageContainer{
                
                width: 60vw;
                height: 60vh;
                display: flex;
                justify-content: center;
                margin-top: 15%;
                margin-left: -15%;
                
            }
        }
        
    .right{
        flex: 0.5;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
        .wrapper{
            
        }
    }
            


}