@import "../../global.scss";

.intro{
    background-color: white;
    display: flex;
    @include mobile {
        flex-direction: column-reverse;
    }
    .left{
        flex: 0.5;
            .leftcont{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                
                .imageContainer{
                    width: 70vw;
                    height: 70vh;
                    display: flex;
                    justify-content: center;
                    margin-top: 5%;
                    margin-left: -15%;
                    background-color: white;
                    overflow: hidden;  
                    @include mobile {
                        margin-left: 30%;
                    }

            }
                .wordcont{
                margin-left: 8%;
                margin-top: 15%;
                font-weight: 200;
                font-size: 15px;
                justify-content: center;
                align-items: center;
                @include mobile {
                    display: none;
                }
              }
        }
    }   
    .right{
        flex: 0.5;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
        .signup{
            margin-top: 13%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-size: 30px;
            font-weight: 400;

            @include mobile {
                justify-content: space-around;
                align-items: center;
                margin-right: 10%;
                margin-left: 10%;

            }

            h1{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-size: 30px;
            font-weight: 400;
            }
            h2{
            font-size: 15px;
            font-weight: 300;
            margin-top: 1%;
            }

        }
        form{
            width: 50vw;
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
           
            @include mobile {
                justify-content: space-around;
                align-items: center;
                margin-left: 25%;
                margin-right: 25%;
            }

            input{
                display: flex;
                width: 200px;
                @include mobile {
                    width: 150px;
                }
            }
            
            textarea{
                display: flex;
                height: 200px;
                width: 200px;
                @include mobile {
                    width: 150px;
                    height: 150px;
                }
            }         
            button{
                width: 150px;
                height: 30px;
                color: white;
                background-color: rgb(121, 190, 213);
                border: none;
                border-radius: 10px;
                font-weight: 500;
                cursor: pointer;

                &:focus{
                outline: none;
                }
            }
    }
}
}