.intro{
    background-color: grey;
    display: flex;
    .left{
        flex: 0.5;
            .imageContainer{
                
                width: 60vw;
                height: 60vh;
                display: flex;
                justify-content: center;
                margin-top: 15%;
                margin-left: -15%;
                
            }
        }
        
    .right{
        flex: 0.5;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
        .wrapper{
        display: flex;
        justify-content: center;
        margin-top: 20%;
        font-size: 300;
        .signup{
            .name{
            margin-top: 25%;
            }
            .email{
                margin-top: 35%;
            }
            .phone{
                margin-top: 45%;
            }
            .message{
                margin-top: 55%;
            }
        }
        }
    }
            


}