.intro{
    background-color: white;
    display: flex;
    .left{
        flex: 0.5;
            .leftcont{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                
                .imageContainer{
                    width: 60vw;
                    height: 60vh;
                    display: flex;
                    justify-content: center;
                    margin-top: 5%;
                    margin-left: -15%;
                    background-color: white;
                    overflow: hidden;  
            }
                .wordcont{
                margin-left: 8%;
                margin-top: 15%;
                font-weight: 200;
                font-size: 15px;
                justify-content: center;
                align-items: center;
              }
        }
    }   
    .right{
        flex: 0.5;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
        .signup{
            margin-top: 13%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-size: 30px;
            font-weight: 400;
            h1{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-size: 30px;
            font-weight: 400;
            }
            h2{
            font-size: 15px;
            font-weight: 300;
            margin-top: 1%;
            }

        }
        form{
            width: 50vw;
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .first{
                display: flex;
            }
            .last{
                display: flex;
            }
            .email{
                display: flex;
            }
            .phone{
                display: flex;
            }
            .message{
                display: flex;
            }        
            button{
                width: 150px;
                height: 30px;
                color: white;
                background-color: rgb(121, 190, 213);
                border: none;
                border-radius: 10px;
                font-weight: 500;
                cursor: pointer;

                &:focus{
                outline: none;
                }
            }
    }
}
}